<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-driver-heading" jhiTranslate="jhipsetrsApp.driver.home.createOrEditLabel">Create or edit a Driver</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!driver.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="driver.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsetrsApp.driver.dname" for="field_dname">Dname</label>
                    <input type="text" class="form-control" name="dname" id="field_dname"
                        [(ngModel)]="driver.dname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsetrsApp.driver.dsex" for="field_dsex">Dsex</label>
                    <input type="text" class="form-control" name="dsex" id="field_dsex"
                        [(ngModel)]="driver.dsex" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
